.App {
  text-align: center;
}

.App-header {
  background-color: #27272a;
  height: 100vh;
  width: 100vw;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.gradient-background {
  min-height: 100vh;
  min-width: 100vw;
  background: conic-gradient(
          at 70% 55%,
          #FF4545 90deg,
          #67C8FF 170deg,
          #67C8FF 210deg,
          #f5873c 280deg,
          #67C8FF 354deg,
          #04ff4b 355deg,
          #FF4545 357deg
        );
}

.rounded-container {
  border-radius: 100px;
  background-color: #fef9c3;
  min-height: 130px;
}

.square-container {
  border-radius: 5px;
  background-color: #fef9c3;
  border-color: #04ff4b;
  min-height: 130px;
}

.text-clear {
  opacity: 0;
  transition: 500ms;
  padding: 12pt;
  font-weight: bold;
}

.text-opaque {
  opacity: 1;
  transition: 400ms;
  padding: 12pt;
  font-weight: bold;
  color: white;
}

.phone-screen {
  border-radius: 10px;
  height: 300pt;
  width: 150pt;
  min-width: 150pt;
  /* background-color: #fef9c3; */
}